name: Lint, Type-Check, Test, Build and Publish Package

"on":
    pull_request:
        branches: [main]
    push:
        branches: [main]
        tags: [v*]

jobs:
    uv-check:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Check uv.lock (ensure all dependencies up to date)
              run: uv lock --check

    # yamllint disable-line rule:key-ordering
    flake8:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        needs: [uv-check]
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Install Flake8 From Locked Dependencies
              run: uv sync --no-group dev --group lint-format

            - name: Run Flake8
              run: uv run -- flake8

    # yamllint disable-line rule:key-ordering
    mypy:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        needs: [uv-check]
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                component: [package, tests]
                python-version: ["3.14"]

        steps:
            - uses: actions/checkout@v6

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version: ${{matrix.python-version}}

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true
                python-version: ${{matrix.python-version}}

            - name: Install mypy From Locked Dependencies
              run: |
                if [ "${{matrix.component}}" == "package" ]; then
                  ARGS=""
                elif [ "${{matrix.component}}" == "tests" ]; then
                  ARGS="--group test"
                else
                  echo "Error: Unknown matrix.component value: '${{matrix.component}}'" >&2
                  exit 1
                fi

                uv sync --no-group dev --group type-check $ARGS

            - id: store-hashed-python-version
              name: Store Hashed Python Version
              run: echo "hashed_python_version=$(uv run -- python -VV | sha256sum | cut -d' ' -f1)"
                >> $GITHUB_OUTPUT

            - uses: actions/cache@v4
              with:
                key: mypy|${{steps.store-hashed-python-version.outputs.hashed_python_version}}|${{matrix.component}}
                path: ./.mypy_cache

            - name: Run mypy  # TODO: Add GitHub workflows output format
              run: |
                if [ "${{matrix.component}}" == "package" ]; then
                  ARGS="flake8_carrot/"
                elif [ "${{matrix.component}}" == "tests" ]; then
                  ARGS="tests/"
                else
                  echo "Error: Unknown matrix.component value: '${{matrix.component}}'" >&2
                  exit 1
                fi

                uv run -- mypy $ARGS

    # yamllint disable-line rule:key-ordering
    pre-commit:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Add GB Locale
              run: |
                sudo apt-get update
                sudo apt-get install -y locales
                sudo locale-gen en_GB.UTF-8
              shell: bash

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Install pre-commit From Locked Dependencies
              run: uv sync --only-group pre-commit

            - id: store-hashed-python-version
              name: Store Hashed Python Version
              run: echo "hashed_python_version=$(uv run -- python -VV | sha256sum | cut -d' ' -f1)"
                >> $GITHUB_OUTPUT

            - uses: actions/cache@v4
              with:
                key: pre-commit|${{steps.store-hashed-python-version.outputs.hashed_python_version}}|${{hashFiles('.pre-commit-config.yaml')}}
                path: ~/.cache/pre-commit

            - name: Setup pre-commit Environments
              run: uv run -- pre-commit install-hooks

            - name: Store pre-commit Checks Which Require Skipping
              run: echo "SKIP=check-github-workflows,ruff-check,uv-lock,flake8" >> $GITHUB_ENV

            - name: Run pre-commit
              run: uv run -- pre-commit run --all-files --hook-stage manual  # TODO: Add GitHub workflows output format

            - if: ${{!cancelled()}}
              uses: pre-commit-ci/lite-action@v1.1.0

    # yamllint disable-line rule:key-ordering
    pytest:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        needs: [uv-check]
        runs-on: ubuntu-latest

        strategy:
            matrix:
                python-version: ["3.14"]

        steps:
            - uses: actions/checkout@v6

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version: ${{matrix.python-version}}

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true
                python-version: ${{matrix.python-version}}

            - name: Install pytest From Locked Dependencies
              run: uv sync --no-group dev --group test

            - id: store-hashed-python-version
              name: Store Hashed Python Version
              run: echo "hashed_python_version=$(uv run -- python -VV | sha256sum | cut -d' ' -f1)"
                >> $GITHUB_OUTPUT

            - uses: actions/cache@v4
              with:
                key: pytest|${{steps.store-hashed-python-version.outputs.hashed_python_version}}
                path: ./.pytest_cache

            - name: Run pytest
              run: uv run -- pytest  # TODO: Add GitHub workflows output format

    # yamllint disable-line rule:key-ordering
    ruff-lint:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Install ruff From Locked Dependencies
              run: uv sync --only-group lint-format

            - id: store-hashed-python-version
              name: Store Hashed Python Version
              run: echo "hashed_python_version=$(uv run -- python -VV | sha256sum | cut -d' ' -f1)"
                >> $GITHUB_OUTPUT

            - uses: actions/cache@v4
              with:
                key: ruff|${{steps.store-hashed-python-version.outputs.hashed_python_version}}
                path: ./.ruff_cache

            - name: Run Ruff
              run: uv run -- ruff check --no-fix --output-format=github

    # yamllint disable-line rule:key-ordering
    build:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        needs: [flake8, mypy, pre-commit, pytest, ruff-lint, uv-check]
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Build Package
              run: uv build --build --no-sources

            - name: Save Build Artifacts
              uses: actions/upload-artifact@v5
              with:
                name: built-flake8-carrot-package
                path: dist/

    # yamllint disable-line rule:key-ordering
    publish:
        environment: publish

        if: github.ref_type == 'tag'

        needs: [build]
        permissions:
            id-token: write
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Download Build Artifacts
              uses: actions/download-artifact@v6
              with:
                name: built-flake8-carrot-package
                path: dist/

            - name: Publish to PyPI
              run: uv publish

    # yamllint disable-line rule:key-ordering
    test-publish:
        environment: test-publish

        if: |
            (github.event_name != 'push' || github.ref_type != 'tag') &&
            (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == 'CarrotManMatt/flake8-carrot')

        needs: [build]
        permissions:
            id-token: write
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Download Build Artifacts
              uses: actions/download-artifact@v6
              with:
                name: built-flake8-carrot-package
                path: dist/

            - name: Publish to Test-PyPI
              run: uv publish --index Test-PyPI

    # yamllint disable-line rule:key-ordering
    release:
        if: github.ref_type == 'tag'

        needs: [publish]
        permissions:
            contents: write
            id-token: write
        runs-on: ubuntu-latest

        steps:
            - name: Download Build Artifacts
              uses: actions/download-artifact@v6
              with:
                name: built-flake8-carrot-package
                path: dist/

            - name: Sign Build Artifacts
              uses: sigstore/gh-action-sigstore-python@v3.2.0
              with:
                inputs: ./dist/flake8_carrot-*.tar.gz ./dist/flake8_carrot-*.whl

            - name: Create GitHub Release
              # yamllint disable-line rule:key-ordering
              env:
                GITHUB_TOKEN: ${{github.token}}
              run: gh release create '${{github.ref_name}}' dist/** --repo '${{github.repository}}'
                --verify-tag --generate-notes
