name: Check Conformance to Packaging Best Practises

"on":
    schedule:
        - cron: 45 6 * * 4

    workflow_dispatch: ~

jobs:
    pyroma:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        runs-on: ubuntu-latest

        steps:
            - id: store-current-week-number-is-even
              name: Store If the Current Week Number is Even
              run: echo "current-week-number-is-even=$((($(date +%s)/(60*60*24*7))%2))" >> "$GITHUB_OUTPUT"

            - if: github.event_name == 'workflow_dispatch' || steps.store-current-week-number-is-even.outputs.current-week-number-is-even
                == '1'
              uses: actions/checkout@v6

            - if: github.event_name == 'workflow_dispatch' || steps.store-current-week-number-is-even.outputs.current-week-number-is-even
                == '1'
              name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - if: github.event_name == 'workflow_dispatch' || steps.store-current-week-number-is-even.outputs.current-week-number-is-even
                == '1'
              name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - if: github.event_name == 'workflow_dispatch' || steps.store-current-week-number-is-even.outputs.current-week-number-is-even
                == '1'
              name: Install pyroma From Locked Dependencies
              run: uv sync --only-group package-analysis

            - if: github.event_name == 'workflow_dispatch' || steps.store-current-week-number-is-even.outputs.current-week-number-is-even
                == '1'
              name: Run pyroma
              run: uv run -- pyroma --min=10 --pypi --skip-tests BusFactor flake8-carrot
